@import "/src/app/styles/Flex.scss";
@import "/src/app/styles/Colors.scss";
@import "/src/app/styles/MainCards.scss";

.workscard {
  @include flex-column;
  @include cards_experience;
  &__title {
    @include subtitles_experience;
  }
  &__history {
    @include flex-column;
    @include description_experience;
    align-items: flex-start;
    // margin-bottom: 9px;
    &--position {
      font-weight: bold;
    }
    &--company {
      font-style: italic;
    }
    &--project {
      color: $projectColor;
      font-weight: bold;
      margin-bottom: 9px;
    }
    &--resp {
      font-weight: bold;
    }
    &--list{
      width: fit-content;
      @include flex-column;
      list-style: disc;
      align-items: flex-start; 
      margin-left: 30px;
      .list__activities {
        @include description;
      }
    }
  }
  .item-bottom{
    margin-bottom: 25px;
  }
  .margin-botton{
    margin-bottom: 0px;
  }
}

/* Start Media Queries Screens 768px and 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .workscard {
    &__history {
      // margin-bottom: 7px;
      &--project {
        margin-bottom: 7px;
      }
      &--list{
        margin-left: 22px;
      }
    }
  }
  .item-bottom{
    margin-bottom: 7px;
  }
}

/* End Media Queries Screens 768px and 1023px */

/* Start Media Queries Screens 767px */
@media screen and (max-width: 767px) {
  .workscard {
    &__history {
      // margin-bottom: 5px;
      &--project {
        margin-bottom: 5px;
      }
      &--list{
        margin-left: 16px;
      }
    }
  }
  .item-bottom{
    margin-bottom: 5px;
  }
}

/* End Media Queries Screens 767px */

@media print {
  .workscard {
    &__history {
      // margin-bottom: 7px;
      &--project {
        margin-bottom: 7px;
      }
      &--list{
        margin-left: 26px;
      }
    }
  }
  .item-bottom{
    margin-bottom: 7px;
  }
}
