@import "/src/app/styles/Flex.scss";
@import "/src/app/styles/Colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*Start Header Styles*/
.header {
  height: 95px;
  background-color: $headerColor;
  justify-content: center;
  @include flex-column;
  justify-content: space-evenly;
  &__title {
    font-size: 28px;
    color: $textColor;
    font-weight: bold;
  }
  &__btn {
    background-color: $btnprint;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 11px 9px;
    font-size: 16px;
    transition: .5s;
    cursor: pointer;
  }
  &__btn:hover {
    background-color: $btnprinth;
  }
}

/*End Header Styles*/

/*Start Main Styles*/
.main {
  // height: 1200px;
  background-color: $mainColor;
  // border: 5px solid green;
  color: $textColor;
  @include flex-column;
  .marginb {
    width: 65%;
    margin-bottom: 9px;
  }
  .marginb2 {
    width: 65%;
  }
  &__page {
    width: 70%;
    height: 1300px;
    background-color: $textColor;
    @include flex-row;
    &--contact {
      height: inherit;
      width: 25%;
      background-color: $contactColor;
      justify-content: flex-start;
      @include flex-column;
      padding: 0px;
      margin: 0px;
    }
    &--experience {
      height: inherit;
      width: 75%;
      color: $textColor2;
      justify-content: flex-start;
      @include flex-column;
      padding: 0px;
      margin: 0px;
    }
  }
}

/*End Main Styles*/

/*Start Footer Styles*/
.footer {
  height: 80px;
  background-color: $headerColor;
  justify-content: center;
  @include flex-column;
  &__title {
    color: $textColor;
    font-size: 16px;
  }
}

/*End Footer Styles*/

/*Start hrs Styles*/
.hr-wh {
  border: 1px solid white;
  border-radius: 5px;
  width: 95%;
}

.hr-bg {
  border: 1px solid black;
  border-radius: 5px;
  width: 95%;
}

.margint {
  margin-top: 15px;
}

/*End hrs Styles*/

/* Start Media Queries Screens 768px and 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /*Start Header Styles*/
  .header {
    height: 90px;

    &__title {
      font-size: 26px;
    }
    &__btn {
      padding: 9px 7px;
      font-size: 14px;
    }
  }

  /*End Header Styles*/

  /*Start Main Styles*/
  .main {
    &__page {
      width: 85%;
      height: 913px;
      .marginb {
        margin-bottom: 7px;
      }
      // border: 5px solid red;
      &--contact {
        width: 29%;
      }

      &--experience {
        width: 71%;
      }
    }
  }

  /*End Main Styles*/

  /*Start hrs Styles*/
  .margint {
    margin-top: 13px;
  }
  /*End hrs Styles*/

  /*Start Footer Styles*/
  .footer {
    height: 75px;

    &__title {
      font-size: 14px;
    }
  }

  /*End Footer Styles*/
}

/* End Media Queries Screens 768px and 1023px */

/* Start Media Queries Screens 767px */
@media screen and (max-width: 767px) {
  /*Start Header Styles*/
  .header {
    height: 80px;

    &__title {
      font-size: 24px;
    }
    &__btn {
      padding: 7px 5px;
      font-size: 12px;
    }
  }

  /*End Header Styles*/

  /*Start Main Styles*/
  .main {
    .marginb {
      margin-bottom: 5px;
    }
    &__page {
      width: 100%;
      height: 891px;
      // border: 5px solid red;
      &--contact {
        width: 30%;
      }

      &--experience {
        width: 70%;
      }
    }
  }

  /*End Main Styles*/

  /*Start hrs Styles*/
  .margint {
    margin-top: 11px;
  }
  /*End hrs Styles*/

  /*Start Footer Styles*/
  .footer {
    height: 70px;

    &__title {
      font-size: 12px;
    }
  }

  /*End Footer Styles*/
}

/* End Media Queries Screens 767px */

@media print {
  * {
    -webkit-print-color-adjust: exact;
  }

  /*Start Header Styles*/
  .header {
    display: none;
  }

  /*End Header Styles*/

  /*Start Main Styles*/
  .main {
    .marginb {
      margin-bottom: 0px;
    }
    &__page {
      width: 100%;
      height: 100vh;
      &--contact {
        width: 30%;
      }

      &--experience {
        width: 70%;
      }
    }
  }

  /*End Main Styles*/

  /*Start hrs Styles*/
  .margint {
    margin-top: 15px;
  }
  /*End hrs Styles*/

  /*Start Footer Styles*/
  .footer {
    display: none;
  }

  /*End Footer Styles*/
}
